.jumbotron {
    background-image: url(../images/banner.jpg);
    max-width: 1300px;
    margin: 0 auto;
}

#container {
    max-width: 1300px;
    margin: 0 auto;
}

.numberCircle {
    display: block;
    height: 60px;
    width: 60px;
    line-height: 60px;
    -moz-border-radius: 30px;
    /* or 50% */
    border-radius: 30px;
    /* or 50% */
    background-color: black;
    color: white;
    text-align: center;
    font-size: 2em;
    float: left;
}

#