extends layout



block content
    link(rel='stylesheet', type='text/css', href='/stylesheets/addEvent.css')
    script(type="text/javascript").
      $( document ).ready(function() {
          $.post( "/event",{ searchTerm: "" }, function( data ) {
            console.log("posting")
            $.each( data.events, function( key, val ) {
              $( "<a/>", {
                      "class": "list-group-item",
                      "href": "login",
                      html: val.EventName
                    }).appendTo( "#eventList" ); 
            
              });
          });
      });
    div.row
      form.form-group(action ="", method = "post")
        div.col-md-4.inline.pull-left
          div.col-md-8#searchBarDiv
            input#searchBar.form-control(type="text", name="searchBar")
            script(type="text/javascript").
              $( "#searchBar" ).on("input",function() {
                $("#eventList").empty();
                $.post( "/event",{ searchTerm: $("#searchBar").val() }, function( data ) {
                  console.log("posting")
                  $.each( data.events, function( key, val ) {
                    $( "<a/>", {
                            "class": "list-group-item",
                            "href": "login",
                            html: val.EventName
                          }).appendTo( "#eventList" ); 
                  
                    });
                });
              });
            
          a(href="addEvent")
            button#addEvent.btn.btn-primary(type="addEvent") Add event
            p
          div
            .list-group#eventList(style ="max-height: 500px; overflow: auto")

                

        div.col-md-2  
        div.col-md-3
          h3#addEventHeading Event Details
          label(for="eventName") Event Name
          input#eventName.form-control(type="text", name="eventName", required)
          label(for="eventCategory") Event Category
          div.dropdown
            select.form-control#dropdownMenu(name = "eventCategory",required) Pick Event Catagory
              span.caret
              option(disabled, selected) Select Event
            script(type="text/javascript").
              $.getJSON( "/categories", function( data ) {
                console.log(data.categories[0].CategoryDescr)
                $.each( data.categories, function( key, val ) {
                  $( "<option/>", {
                    "class": "my-new-list",
                    html: val.CategoryDescr
                  }).appendTo( "#dropdownMenu" );   
                });
              });
            

          label(for="streetNumORVenueName") Street Number or Venue Name
          input#streetNumORVenueName.form-control(type="text", name="streetNumORVenueName", required)
          label(for="streetName") Street Name
          input#streetNum.form-control(type="text", name="streetNum", required)
          label(for="suburb") Suburb
          input#suburb.form-control(type="text", name="suburb", required)
          label(for="city") City
          input#city.form-control(type="text", name="city", required)
          label(for="province") Province
          input#province.form-control(type="text", name="province", required)
          label(for="date") Date (dd/mm/yyyy)
          input#date.form-control(type="date", name="date", placeholder="(dd/mm/yyyy)", required)
          label(for="time") Time (hh:mm)
          input#time.form-control(type="time", name="time", placeholder ="(hh:mm)", required)

          span.pull-right
            button#create.btn.btn-primary(type="submit") Create
          span.pull-left
            a(href="manageEvent")
              button#cancel.btn.btn-primary(type="button") Cancel