extends layout

block content
    link(rel='stylesheet', type='text/css', href='/stylesheets/addEvent.css')
    script(src = "/javascripts/eventSearchBar.js")
      
    div.row
      form.form-group(action ="", method = "post" style="margin-top:10px")
        div.col-md-5.inline.pull-left
          div.modal-dialog(style="margin: 0 0 0 0")
            div.modal-content.col-md-8(style="overflow:auto; padding:0 20 10 20")
              br
              div.col-md-12(style="padding-left:10px")#searchBarDiv
                input#searchBar.form-control(type="text", name="searchBar", placeholder="Search", style="padding-left:10px; max-width: 450px")
              br
              .clearfix
              div
                .list-group#eventList(style ="max-height: 500px; overflow: auto")

        div.col-md-1  
        div.col-md-4
          div.modal-dialog(style="margin: 0 0 0 0")
              div.modal-content.col-md-9(style="overflow:auto; padding:20 20 10 20")
                h3(style="text-align:center")#addEventHeading Event Details
                label(for="eventName", style="margin-bottom:0") Event Name
                input#eventName.form-control(type="text", name="eventName", required, style="max-width: 450px; padding:0 0 0 0 ; margin-bottom:15px; height: 28px")
                label(for="eventCategory", style="margin-bottom:0") Event Category
                div.dropdown
                  select.form-control#dropdownMenu(name = "eventCategory",required, style="max-width: 450px; padding:0 0 0 0; margin-bottom:15px; height: 35px") Pick Event Catagory
                    span.caret
                    option(disabled, selected) Select Event
                    
                  

                label(for="streetNumORVenueName", style="margin-bottom:0") Street Number
                input#streetNumORVenueName.form-control(type="text", name="streetNumORVenueName", required, style="max-width: 450px; padding:0 0 0 0; margin-bottom:15px; height: 28px")
                label(for="streetName", style="margin-bottom:0") Street Name
                input#streetName.form-control(type="text", name="streetName", required, style="max-width: 450px; padding-top:0; margin-bottom:15px; height: 28px")
                label(for="city", style="margin-bottom:0") City
                input#city.form-control(type="text", name="city", required, style="max-width: 450px; padding-top:0; margin-bottom:15px; height: 28px")
                label(for="date", style="margin-bottom:0") Date (dd/mm/yyyy)
                input#date.form-control(type="date", name="date", placeholder="(dd/mm/yyyy)", required, style="max-width: 450px; padding-top:0; margin-bottom:15px; height: 28px")
                label(for="time", style="margin-bottom:0") Time (hh:mm)
                input#time.form-control(type="time", name="time", placeholder ="(hh:mm)", required, style="max-width: 450px; padding-top:0; margin-bottom:15px; height: 28px")

                span.pull-right
                  button#create.btn.btn-raised.btn-info(type="submit") Create
                span.pull-left
                  a(href="manageEvent")
                    button#cancel.btn.btn-raised(type="button") Cancel