extends layout

block content
    link(rel='stylesheet', type='text/css', href='/stylesheets/addEvent.css')
    link(rel='stylesheet', type='text/css', href='/stylesheets/selectize.bootstrap3.css')
    script(src = "/javascripts/selectize.js")
    script(src = "/javascripts/rideshareGroupSelection.js")
    
    
      
    div.row
        form.form-group(action ="", method = "post")
            div.col-md-4.inline.pull-left
                div.col-md-7#searchBarDiv
                    input#searchBar.form-control(type="text", name="searchBar", placeholder="Search")

                a(href="addRideshareGroup")
                    button#addRideshareGroup.btn.btn-primary(type="button") Add Rideshare
                    p
                div
                    .list-group.eventList(style ="max-height: 500px; overflow: auto")
        
            div.col-md-7
                div.modal-dialog
                    div.col-md-2
                    div.modal-content(style="overflow:auto")
                        div.modal-header
                            h3.text-center#addDestination Add Rideshare Group
                        div.modal-body
                    
                            label(for="startingLocation") Starting Location
                            div.dropdown
                                select.form-control#dropdownMenu2(name = "startingLocation",required) Starting Location
                                    span.caret
                                    option(disabled, selected) Select starting location
                            label(for="recurring") Recurring Frequency
                            div.dropdown
                                select.form-control#dropdownMenu1(name = "recurringFrequency",required) Recurring Frequency
                                    span.caret
                                    option(disabled, selected) Select frequency
                                    option Once off
                                    option Daily
                                    option Weekly

                            label(for="maxPassengers") Max Passengers
                            input#maxPassengers.form-control(type="text", name="maxPassengers", required)
                            label(for="price/km") Price/km
                            input#pricekm.form-control(type="text", name="pricekm", required)

                            label(for="eventsList") Event
                            div.dropdown
                                select.form-control#dropdownMenu(name = "eventsList",required) Select event
                                    span.caret
                                    option(disabled, selected) Select event
                            p
                            div
                                span.pull-right
                                    button#create.btn.btn-primary(type="submit") Create
                                span.pull-left
                                    a(href="viewListOfRideshareGroups")
                                        button#cancel.btn.btn-primary(type="button") Cancel
                        