extends layout
block head
    link(rel='stylesheet', type='text/css', href='/stylesheets/contacts.css')
block content

    .col-md-6
        .row
            .panel.panel-default
                .panel-heading.c-list
                    span.title Blocked Users                       
                .row(style='display: none;')
                    .col-md-6
                        .input-group.c-search
                            input#contact-list-search.form-control(type='text')
                            |                             
                            span.input-group-btn
                                button.btn.btn-default(type='button')
                                    span.glyphicon.glyphicon-search.text-muted
                |                 
                |                 
                .list-group(id='blockedUserList')
    .col-md-6(id="details")
        form.modal-dialog(id="unblockUser", name="unblockUser", method="post", action="", autocomplete="off", enctype="text/plain", style="padding-top:0px")
            div.modal-header(style="padding-top:0px; margin-top:0px;")
                h2(style="padding-top:0px; margin-top:0px", id="unblockUserHeading", type="text")
            div.modal-body
                br
                label Would you like to unblock this user?
            div.modal-footer
                div.row
                    div.col-md-2.clearfix
                        button.btn.button-primary.pull-left(id="unblockUserButton") Yes
                    div.col-md-2.clearfix.text-center 
                    div.col-md-2.clearfix
                        button.btn.button-primary.pull-right(type="reset") No
                
block scripts
    script(src='/javascripts/contacts.js')

