extends layout

block content
    link(rel='stylesheet', type='text/css', href='/stylesheets/addEvent.css')
    script(src = "/javascripts/eventSearchBar.js")
    script(type="text/javascript").
          $( document ).ready(function() {
            var test = "#{event}";
              if (test.length>0)
                $.post( "/getEvent",{ eventName: "#{event}" }, function( data ) {
                  console.log(data.events[0]);
                  var eventID = data.events[0].EventID;
                  var streetNum = data.events[0].StreetNumber;
                  var streetName = data.events[0].StreetName;
                  var town = data.events[0].Town;
                  var category = data.events[0].CategoryDescr;
                  var dateAndTime = data.events[0].Date;
                  var arr = dateAndTime.split('T');
                  var date = arr[0];
                  var timeArr = arr[1].split(':');
                  var time = timeArr[0]+':'+timeArr[1];
                  $('#date').val(date);
                  $('#time').val(time);
                  $('#eventName').val("#{event}");
                  $('#streetNumORVenueName').val(streetNum);
                  $('#streetName').val(streetName);
                  $('#city').val(town);
                  $('#dropdownMenu').val(category);
                  $("#eventID").val(eventID);
                })
          });
          
    div.row
    form.form-group(action ="", method = "post" style="margin-top:20px")
        div.col-md-5.inline.pull-left
          div.modal-dialog(style="margin: 0 0 0 0")
            div.modal-content.col-md-8(style="overflow:auto; padding:0 20 10 20")
              br
              div.col-md-12(style="padding-left:10px")#searchBarDiv
                input#searchBar.form-control(type="text", name="searchBar", placeholder="Search", style="padding-left:10px; max-width: 600px")
              br
              .clearfix
              div
                .list-group#eventList(style ="max-height: 500px; overflow: auto")

        div.col-md-1  
        div.col-md-4
          div.modal-dialog(style="margin: 0 0 0 0")
              div.modal-content.col-md-9(style="overflow:auto; padding:20 20 10 20")
                //The text boxes underneath need to recieve data from the database. Agnes
                h3(style="text-align:center; margin-top:10px")#addEventHeading Event Details
                label(for="eventName", style="margin-bottom:0") Event Name
                input#eventName.form-control(type="text", name="eventName", required, style="max-width: 600px; padding:0 0 0 0 ; margin-bottom:15px; height: 28px")
                label(for="eventCategory", style="margin-bottom:0") Event Category
                div.dropdown
                  select.form-control#dropdownMenu(name = "eventCategory",required, style="max-width: 600px; padding:0 0 0 0; margin-bottom:15px; height: 35px") Pick Event Catagory
                    span.caret
                    option(disabled, selected) Select Event


                label(for="streetNumORVenueName", style="margin-bottom:0") Street Number
                input#streetNumORVenueName.form-control(type="text", name="streetNumORVenueName", required, style="max-width: 600px; padding:0 0 0 0; margin-bottom:15px; height: 28px")
                label(for="streetName", style="margin-bottom:0") Street Name
                input#streetName.form-control(type="text", name="streetName", required, style="max-width: 600px; padding-top:0; margin-bottom:15px; height: 28px")
                label(for="city", style="margin-bottom:0") City
                input#city.form-control(type="text", name="city", required, style="max-width: 600px; padding-top:0; margin-bottom:15px; height: 28px")
                label(for="date", style="margin-bottom:0") Date (dd/mm/yyyy)
                input#date.form-control(type="date", name="date", placeholder="(dd/mm/yyyy)", required, style="max-width: 600px; padding-top:0; margin-bottom:15px; height: 28px")
                label(for="time", style="margin-bottom:0") Time (hh:mm)
                input#time.form-control(type="time", name="time", placeholder ="(hh:mm)", required, style="max-width: 600px; padding-top:0; margin-bottom:15px; height: 28px")

                div.form.form-group(action ="", method = "post")
                  row
                    div.col-md-4.clearfix(style="padding-left:0")
                      span.pull-left
                        a(href="manageEvent")
                          button#cancel.btn.btn-raised(type="button") Cancel
                    div.col-md-4.text-center.clearfix
                      button#delete.btn.btn-raised.btn-danger(type="button", data-toggle="modal" data-target="#myModal") Delete
                    div.col-md-4.clearfix(style="padding-right:0")
                      span.pull-right
                        button#edit.btn.btn-raised.btn-info(type="submit") Save
                  div.modal.fade(id="myModal" role="dialog")
                    div.modal-dialog

                      div.modal-content
                        div.modal-header
                          button.close(type="button" data-dismiss="modal") &times;
                          h4.modal-title Delete Event

                        div.modal-body
                          p Are you sure you would like to delete this event?

                        div.modal-footer
                          input#eventID(type="hidden")
                          span.pull-left
                            button.btn.btn-raised(type="button"  data-dismiss="modal" style="margin:0 0 15 15") Close
                          span.pull-right
                            a(href="manageEvent")
                              button.btn.btn-raised.btn-danger#deleteEvent(type="button" style="margin:0 15 15 0") Delete
                          
                          script(type="text/javascript").
                            $("#deleteEvent").click(function() {
                                  $.post("/deleteEvent",{ eventID: $("#eventID").val() }, function( data ) {
                                    window.location.href = "/manageEvent";
                                  });                                  
                            });
                
                      
