extends layout
block head
    link(rel='stylesheet', type='text/css', href='/stylesheets/index.css')
block content
  .jumbotron
    h1 Go Ride
    p.lead Getting from A to B, made easy.
    p
      a.btn.btn-primary.btn-large(href='/viewListOfRideshareGroups') Find a Rideshare groups &raquo;
  .row
    div(id="container")
      h2 3 steps to get you on  your way:
      br
      .col-md-4
        span
          p.numberCircle 1
          h3 Check your Profile
        p Ensure that all your details have been entered correctly and that you have a current picture so other users will be able to recognise you.
        p
          
      .col-md-4
        span
          p.numberCircle 2
          h3 Create/Search for a Rideshare
          p Depending on whether you are a driver or passenger, either create or search for a rideshare for the destination you intend to travel to.
          p
          
      .col-md-4
        span
          p.numberCircle 3
          h3 Request to join or Accept Requests
          p Request to join a Rideshare group, or if you are a driver, accept requests by fellow travellers to join your group.
          p
          
