extends layout
block head
    link(rel='stylesheet', type='text/css', href='/stylesheets/index.css')
block content
  .jumbotron
    h1 Go Ride
    p.lead Getting from A to B, made easy.
    p
      a.btn.btn-primary.btn-large(href='/viewListOfRideshareGroups') Find a Rideshare group &raquo;
  .row
    div(id="container")
      h2 3 steps to get you on  your way:
      br
      .col-md-4
        span
          p.numberCircle 1
          h3 Check your Profile
        p Ensure that all your details have been entered correctly and that you have a current picture so other users will be able to recognise you.
        p
          
      .col-md-4
        span
          p.numberCircle 2
          h3 Search for a Rideshare
          p Search for a Rideshare Group that is heading to the destination of your choice.
          p
          
      .col-md-4
        span
          p.numberCircle 3
          h3 Request to join
          p Request to join your selected Rideshare Group. If the driver accepts, you'll soon be on your way.
          p
          
    script(src='/javascripts/index.js')
