html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0, shrink-to-fit=no')
    title #{title} - Go Ride
    link(href="https://fonts.googleapis.com/css?family=Roboto:300,400&subset=cyrillic,cyrillic-ext,greek,greek-ext,latin-ext,vietnamese", rel="stylesheet")
    link(rel='stylesheet', type='text/css', href='/stylesheets/bootstrap.min.css')
    link(rel='stylesheet', type='text/css', href='/stylesheets/bootstrap-theme.min.css')
    link(rel='stylesheet', type='text/css', href='/stylesheets/simple-sidebar.css')
    link(rel='stylesheet', type='text/css', href='/stylesheets/style.css')
    link(rel='stylesheet', type='text/css', href='/stylesheet/material.js')
    link(rel='stylesheet', type='text/css', href='/stylesheet/material.min.js')
              //- http://google.github.io/material-design-icons/#getting-icons
              //- https://design.google.com/icons/
    link(href='https://fonts.googleapis.com/icon?family=Material+Icons', rel='stylesheet')
    script(src='/javascripts/modernizr-2.6.2.js')
    script(src='/javascripts/jquery-1.10.2.min.js')
    block head
  body
    #wrapper
      #sidebar-wrapper
        ul.sidebar-nav
          li.sidebar-brand
            a(href='/') Go Ride
          li
            a(href='/login') Login
          li
            span
              i.material-icons(style="font-size:36;") account_box
              a(href='#' data-toggle="collapse", aria-expanded="false", id="manUser", data-target="#manUserSubmenu") Manage User
              ul.nav.collapse(aria-labelledby="btn-1", role="menu", id="manUserSubmenu")
                ul
                  span
                    i.material-icons(style="font-size:36;") info_outline
                    a(href='/userDetails') User Details
                ul
                  span
                    i.material-icons(style="font-size:36;") location_on
                    a(href='/manageLocations') Locations
                ul
                  span
                    i.material-icons(style="font-size:36;") block
                    a(href='/contacts') Blocked Users
                ul
                  span
                    i.material-icons(style="font-size:36;") delete_forever
                    a(href='/userDelete') Delete User
          li
            a(href='/viewCalendar') Calendar
          li
            a(href='/manageEvent') Events
          li
            a(href='/viewProfile') View Profile
          li
            a(href='/viewListOfRideshareGroups') Rideshare
              ul
                a(href="addRideshareGroup") Add Rideshare
              ul
                a(href="processRideshareRequest") Rideshare Requests

      #page-content-wrapper
        .container-fluid
          a(href="#menu-toggle").btn-sm.hidden-lg.hidden-md#menu-toggle
            img(width='20px' src='/images/menu-alt-512.png') 
          block content
          hr
          footer
          p &copy; #{year} - Go Ride

    script(src='/javascripts/jquery-1.10.2.js')
    script(src='/javascripts/bootstrap.js')
    script(src='/javascripts/respond.js')
    script(src='/javascripts/menu-toggle.js')

    block scripts
