extends layout

block content

    div.modal-dialog
      div.modal-content(style="overflow:auto")
        div.modal-header
          h2.text-center Login
        div.modal-body(style = "padding-bottom:25px; overflow:auto")
          .col-md-1
          form.col-md-10.center-block(action ="", method = "post")
            .form-group
              
              input#username.form-control.input-lg(type="text", name="username", placeholder="Username", required, style = "max-width:none")
              p
              input#password.form-control.input-lg(type="password", name="password", placeholder="Password", required, style = "max-width:none")
            .form-group
              p.text-danger #{message} 
              span.pull-right
                a(href="registerUser", style = "margin-bottom: 10px") Register 
                p
              button#btnlogin.btn.btn-block.btn-info.btn-lg(type="submit",style = "max-width:none") Login
          .col-md-1