extends layout

block content
    link(rel='stylesheet', type='text/css', href='/stylesheets/addEvent.css')
    script(src = "/javascripts/eventSearchBar.js")
      
    div.row
      form.form-group(action ="", method = "post" style="margin-top:20px")
        div.col-md-4.inline.pull-left
          div.modal-dialog(style="margin: 0 0 0 0")
            div.modal-content.col-md-6(style="overflow:auto; padding:0 20 10 20")
              br
              div.col-md-12(style="padding-left:10px")#searchBarDiv
                input#searchBar.form-control(type="text", name="searchBar", placeholder="Search", style="padding-left:10px")
              br
              .clearfix
              div
                .list-group#eventList(style ="max-height: 500px; overflow: auto")