extends layout

block content
    div.row.form-inline
      .form-group
        .col-md-3
        input#searchBar.form-control(type="text", name="searchBar")
        button#addEvent.btn.btn-primary(type="addEvent") Add event
        
        .col-md-9
        