extends layout
block head
    link(rel='stylesheet', type='text/css', href='/stylesheets/manageLocations.css')
    meta(name='viewport', content='initial-scale=1.0, user-scalable=no')
    meta(charset='utf-8')
block content
    
    div.col-md-5
        br
        br
        div.modal-content(style="margin-top:0px;")
            div.modal-header
                h2 Saved Locations:
            form.div.modal-body(id="savedLocations")
                .input-group
                    input.controls(type='text', placeholder='Enter a new location here', style="max-width:none; width:100%;", id="pac-input")
                    span.input-group-btn
                        button.btn.btn-raised.btn-info(type='button', id='addLocation') Add
                br
                .list-group(id='locationList')

    .col-md-7(id='details')
        div.modal-dialog(style="padding-top:11px;")
            div.modal-header
                h2(id="panelInfo") 
            div.modal-body
                br
                div.row
                    div.col-md-3
                        label(for="street_number") Street Number:
                    div.col-md-4
                        aria(type="text", name="street_number", id="street_number") *place holder*
                br
                div.row
                    div.col-md-3
                        label(for="route") Street Name:
                    div.col-md-4
                        aria(type="text", name="route", id="route") *place holder*
                br
                div.row
                    div.col-md-3
                        label(for="locality") City:
                    div.col-md-4
                        aria(type="text", name="locality", id="locality") *place holder*
                br
                div.row
                    div.col-md-3
                        label(for="administrative_area_level_1") Province:
                    div.col-md-4
                        aria(type="text", name="administrative_area_level_1", id="administrative_area_level_1") *place holder*
            div.modal-footer
                div.row
                    div.col-md-2.clearfix
                        button.btn.button-primary.pull-left(type="submit") Cancel
                    div.col-md-3.clearfix.text-center
                        button.btn.button-primary(type='submit', data-toggle='modal', data-target='#modalEdit', id="editButton") Edit
                    div.col-md-2.clearfix
                        button.btn.button-primary.pull-right(type='submit', data-toggle='modal', data-target='#modalDelete', id="deleteButton") Delete
                
    
    .modal#modalEdit(tabindex='-1', role='dialog', aria-labelledby='modalEditLabel1', aria-hidden='true')
        .modal-dialog(role='document')
            form.modal-content(id="editLocations", name="editLocations", method="post", action="", autocomplete="on", enctype="text/plain")
                .modal-header
                    button.close(type='button', data-dismiss='modal', aria-label='Close')
                        span(aria-hidden='true') &times;         
                    h4#modalEdit.Label1.modal-title Edit Details?      
                .modal-body
                    div.modal-dialog(style="padding-top:0px")
                        div.modal-header
                            h2(id="headingEditLocation") *place name goes here*
                        div.modal-body
                            br
                            div.row
                                div.col-md-3
                                    label(for="easyLabel") Friendly label:
                                div.col-md-4
                                    input.form-control(type="text", name="easyLabel", id="easyLabel")
                            br
                            div.row
                                div.col-md-3
                                    label(for="street_number") Street Number:
                                div.col-md-4
                                    input.form-control(type="text", name="street_number", id="street_number")
                            br
                            div.row
                                div.col-md-3
                                    label(for="route") Street Name:
                                div.col-md-4
                                    input.form-control(type="text", name="route", id="route")
                            br
                            div.row
                                div.col-md-3
                                    label(for="locality") City:
                                div.col-md-4
                                    input.form-control(type="text", name="locality", id="locality")
                                    br
                            div.row
                                div.col-md-3
                                    label(for="administrative_area_level_1") Province:
                                div.col-md-4
                                    input.form-control(type="text", name="administrative_area_level_1", id="administrative_area_level_1")       
                .modal-footer
                    button.btn.btn-secondary(type='button', data-dismiss='modal') Cancel
                    |         
                    button.btn.btn-primary(type='button', data-dismiss='modal') Save


    #modalDelete.modal.fade
        .modal-dialog
            form.modal-content(id="deleteLocation", name="deleteLocation", method="post", action="", autocomplete="on", enctype="text/plain")
                .modal-body
                    button.close(type='button', data-dismiss='modal') &times;
                    |         Are you sure you would like to delete this location?
                // dialog buttons
                .modal-footer
                    button.btn(type='button', data-dismiss='modal') Cancel
                    button.btn.btn-primary(type='button', id="acceptDeleteLocation", data-dismiss='modal') Delete
    .col-md-12
        br
        div(id="map")

block scripts
    script(src='/javascripts/manageLocations.js')
    script(src='https://maps.googleapis.com/maps/api/js?key=AIzaSyBfLDPhDXlPR1BEv4xFjUPN5WYZ4OJhb1U&libraries=places&callback=initAutocomplete&sensor=true', async='', defer='')


    