extends layout

block content
    link(rel='stylesheet', type='text/css', href='/stylesheets/addEvent.css')
    div.row
      .form-group
        div.col-md-4.inline.pull-left
          div.col-md-8#searchBarDiv
            input#searchBar.form-control(type="text", name="searchBar")
          a(href="addEvent")
            button#addEvent.btn.btn-primary(type="addEvent") Add event
          p
          div
            .list-group(style ="height: 500px; overflow: auto")
                a.list-group-item(href='#') Event 1
                a.list-group-item(href='#') Event 2
                a.list-group-item(href='#') Event 3
                a.list-group-item(href='#') Event 4
                a.list-group-item(href='#') Event 5
                a.list-group-item(href='#') Event 6
                a.list-group-item(href='#') Event 7
                a.list-group-item(href='#') Event 8
                a.list-group-item(href='#') Event 9
                a.list-group-item(href='#') Event 10
                a.list-group-item(href='#') Event 11
                a.list-group-item(href='#') Event 12
                a.list-group-item(href='#') Event 13
                a.list-group-item(href='#') Event 14
                a.list-group-item(href='#') Event 15
                a.list-group-item(href='#') Event 16
                a.list-group-item(href='#') Event 17
                a.list-group-item(href='#') Event 18
                a.list-group-item(href='#') Event 19
                a.list-group-item(href='#') Event 20
        