extends layout

block content
    link(rel='stylesheet', type='text/css', href='/stylesheets/addEvent.css')
    div.row
      .form-group
        div.col-md-4.inline.pull-left
          div.col-md-8#searchBarDiv
            input#searchBar.form-control(type="text", name="searchBar")
          a(href="addEvent")
            button#addEvent.btn.btn-primary(type="addEvent") Add event
            
          div
            p
            
            p This will be a list of the events.

            p Event 1

            p Event 2

            p Event 3
            
            p Event 4

            p Event 5

            p Event 6

            p Event 7
            
            p Event 8

            p Event 9
            
            p Event 10
        