extends layout

block content
    link(rel='stylesheet', type='text/css', href='/stylesheets/addEvent.css')
    div.row
      .form-group
        div.col-md-4.inline.pull-left
          div.col-md-7#searchBarDiv
            input#searchBar.form-control(type="text", name="searchBar")
          a(href="addEvent")
            button#createRideshare.btn.btn-primary(type="createRideshare") Create Rideshare
            
          div
            .list-group(style ="height: 500px; overflow: auto")
                a.list-group-item(href='#') Rideshare Group 1
                a.list-group-item(href='#') Rideshare Group 2
                a.list-group-item(href='#') Rideshare Group 3
                a.list-group-item(href='#') Rideshare Group 4
                a.list-group-item(href='#') Rideshare Group 5
                a.list-group-item(href='#') Rideshare Group 6
                a.list-group-item(href='#') Rideshare Group 7
                a.list-group-item(href='#') Rideshare Group 8
                a.list-group-item(href='#') Rideshare Group 9
                a.list-group-item(href='#') Rideshare Group10
                a.list-group-item(href='#') Rideshare Group 11
                a.list-group-item(href='#') Rideshare Group 12
                a.list-group-item(href='#') Rideshare Group 13
                a.list-group-item(href='#') Rideshare Group 14
                a.list-group-item(href='#') Rideshare Group 15
                a.list-group-item(href='#') Rideshare Group 16
                a.list-group-item(href='#') Rideshare Group 17
                a.list-group-item(href='#') Rideshare Group 18
                a.list-group-item(href='#') Rideshare Group 19
                a.list-group-item(href='#') Rideshare Group 20

        div.col-md-8
          img.img-responsive.img-circle.center-block(src='https://lh6.ggpht.com/TzMkdj8C6dTcg_kDRxxGRBC3pM-UDiNL3t6VKNoMSumbhUeqZzs5PT3UfgkbJpORSV4=w300', alt='Profile Image')