extends layout

block content
  
  form(action="", method="post", enctype="multipart/form-data")
    h3.text-center User Registeration
    div.row
      .form-group
        .col-md-2
        .col-md-5
          h4 Personal details
          h5
          label(for="IDnumber") ID Number
          input#IDnumber.form-control(type="number – number input control", name="IDnumber", required)
          label(for="name") Name
          input#name.form-control(type="text", name="name", required)
          label(for="surname") Surname
          input#surname.form-control(type="text", name="surname", required)
          label(for="username") Username
          input#username.form-control(type="text", name="username", required)
          label(for="password") Password
          input#password.form-control(type="password", name="password", required)
          label(for="picture") Picture
          input#picture.btn.btn-default(type="file", name="picture", accept="image/*")
        
        div.col-md-5
          h4 Saved Location

          label(for="streetNum") Street Number
          input#streetNum.form-control(type="number – number input control", name="streetNum", required)
          label(for="streetName") Street Name
          input#streetName.form-control(type="text", name="streetName", required)
          label(for="suburb") Suburb
          input#suburb.form-control(type="text", name="suburb", required)
          label(for="town") City/Town
          input#town.form-control(type="text", name="town", required)
          label(for="province") Province
          input#province.form-control(type="text", name="province", required)
          p.text-danger #{message} 
          button#submitRegistration.btn.btn-primary(type="submit") Submit