extends layout
block head
    link(rel='stylesheet', type='text/css', href='/stylesheets/userDetails.css')
block scripts
    script(src='/javascripts/userDetails.js')
block content

    div.modal-dialog(style="margin: 0 auto;")
        //- div.col-md-3
        div.modal-content(style="overflow:auto")
            div.modal-header
                h3.text-center#destinationName User Details
            div.modal-body
                br
                div.row
                    div.col-md-5
                        label(for="labelUsername", style="padding-left:20px; color:black") Username:
                    div.col-md-7
                        label#username(type="text",style = "font-weight:normal")
                br
                div.row
                    div.col-md-5
                        label(for="labelName", style="padding-left:20px; color:black") Name:
                    div.col-md-7
                        label#name(style = "font-weight:normal") 
                br
                div.row
                    div.col-md-5 
                        label(for="labelSurname", style="padding-left:20px; color:black") Surname:
                    div.col-md-7
                        label#surname(style = "font-weight:normal") 
                br
                div.row
                    div.col-md-5    
                        label(for="labelPassword", style="padding-left:20px; color:black") Password:
                    div.col-md-7                            
                        label#password(type="password", style = "font-weight:normal")
        
            .modal-footer
                div.col-md-12.clearfix.text-center
                    button.btn.button-primary.btn-raised.btn-info(data-toggle='modal', data-target='#modalEdit', id='buttonEdit') Edit


    .modal.fade#modalEdit(tabindex='-1', role='dialog', aria-labelledby='modalEditLabel1', aria-hidden='true')
        .modal-dialog(role='document')
            form.modal-content(id="info", name="info", method="post", action="", autocomplete="on", enctype="text/plain")
                .modal-header
                    button.close(type='button', data-dismiss='modal', aria-label='Close')
                        span(aria-hidden='true') &times;         
                    h4.Label1.modal-title Edit Details?      
                .modal-body
                    div.modal-dialog(style="padding-top:0px")
                        div.modal-header
                            h2(id="usernameHeading") *User name goes here*
                        div.modal-body
                            br
                            div.row
                                div.col-md-4.span4
                                    label(for="usernameInput") Username
                                div.col-md-8.span8.pull-right
                                    input.form-control(type="text", name="usernameInput", id="usernameInput", readonly)

                            div.row
                                div.col-md-4.span4
                                    label(for="nameInput") Name
                                div.col-md-8.span8.pull-right
                                    input.form-control(type="text", name="nameInput", id="nameInput", readonly )

                            div.row
                                div.col-md-4.span4
                                    label(for="surnameInput") Surname
                                div.col-md-8.span8.pull-right
                                    input.form-control(type="text", name="surnameInput", id="surnameInput", readonly)

                            div.row
                                div.col-md-4.span4
                                    label(for="passwordInput") Password
                                div.col-md-8.span8.pull-right
                                    input.form-control(type="password", name="passwordInput", id="passwordInput", required)

                .modal-footer
                    button.btn.btn-secondary(type='button', data-dismiss='modal') Cancel
                    |         
                    button.btn.btn-raised.btn-info(type='submit', id='submitUserDetails') Save
