extends layout
block head
    link(rel='stylesheet', type='text/css', href='/stylesheets/addEvent.css')

block scripts
    script(src = '/javascripts/rideshareGroupSearchBar.js')

block content
    div.row
      form.form-group(action ="", method = "post" style="margin-top:20px")
        div.col-md-5.in-line.pull-left
            div.modal-dialog(style="margin: 0 0 0 0")
                div.modal-content.col-md-9(style="overflow:auto; padding:20 20 10 20")
                    row
                        div.col-md-8#searchBarDiv
                            input#searchBar.form-control(type="text", name="searchBar", placeholder="Search", style=" max-width: 600px")

                        div.col-md-4(style="padding-left:0; padding-right:0")
                            button.pull-right#filterRideshareGroups.btn.btn-info(type="button" style="position:relative; left:-10; padding:8 15 8 15" data-filterType="own") 
                                span Filter All
                            p
                        div(style = "clear:both")
                            .list-group#eventList(style ="max-height: 500px; overflow: auto")

        div.col-md-6#viewRideshareDetails
            input#rideshareNo(type="hidden")
            div.modal-dialog(style="margin: 0 0 0 0")
                div.col-md-3
                div.modal-content(style="overflow:auto")
                    div.modal-header
                        h3.text-center#destinationName Destination Name
                    div.modal-body
                        br
                        div.row
                            div.col-md-5
                                label(for="destination", style="padding-left:20px; color:black") Destination:
                            div.col-md-7
                                label#destination(type="text",style = "font-weight:normal")
                        br
                        div.row
                            div.col-md-5
                                label(for="driver", style="padding-left:20px; color:black") Driver:
                            div.col-md-7
                                label#driver(style = "font-weight:normal") 
                        br
                        div.row
                            div.col-md-5 
                                label(for="passengers", style="padding-left:20px; color:black") Passengers:
                            div.col-md-7
                                label#passengerList(style = "font-weight:normal") 
                        br
                        div.row
                            div.col-md-5    
                                label(for="price/km", style="padding-left:20px; color:black") Price/km (R):
                            div.col-md-7                            
                                label#pricekm(style = "font-weight:normal")
                        br
                        div.row
                            div.col-md-9(style="padding-left:36px")
                                label#carFull(style = "font-weight:normal; padding-left:20px; color:red; display: none") The car is full
                                p
                                label#joinPending(style = "font-weight:normal")
                                p
                                label#pickupPointEdited(style = "font-weight:normal") 
                    .modal-footer
                        a(href="viewListOfRideshareGroups").pull-left
                            button#cancel.btn.btn-raised.btn-default(type="button" data-dismiss="modal",style="margin-bottom:15px; margin-left:30px") Cancel
                        a.pull-right
                            button#changePetrolCost.btn.btn-raised.btn-info(type="button", data-toggle="modal", data-target="#changePertolCost",style="margin-bottom:15px; display: none; margin-right:30px") Change Petrol Cost
                        a.pull-right
                            button#requestEditRoute.btn.btn-raised.btn-info(type="button" , data-toggle="modal", data-target="#editRouteDialog",style="margin-bottom:15px; display: none; margin-right:30px") Edit Pick-up Point
                        a.pull-right
                            button#joinRideshare.btn.btn-raised.btn-info(type="button" , data-toggle="modal", data-target="#joinRideshareDialog",style="margin-bottom:15px; display: none; margin-right:30px")
                                span Join Rideshare
                        script(type="text/javascript").
                            $( "#requestEditRoute").click(function() {
                                $.getJSON( "/getLocations", function(data) {
                                    $.post("/getRoutemarker", { rideshareNo: $("#rideshareNo").val() }, function(json){
                                        console.log(json);
                                        areaID = json.marker[0].AreaID;
                                        $('#editPickupPoint').empty();
                                        console.log(data);
                                        $.each(data.locations, function (key, val) {
                                            if ( val.AreaID != areaID ) {
                                                var item2 = $("<option/>", {
                                                    "class": "my-new-list",
                                                    "data-AreaID": val.AreaID,
                                                    html: val.Nickname
                                                });
                                                item2.appendTo('#editPickupPoint');
                                            }
                                        });
                                    })
                                });
                            });
                    
                    div.modal.fade(id="changePertolCost" role="dialog")
                        div.modal-dialog

                            div.modal-content
                                div.modal-header
                                    button.close(type="button" data-dismiss="modal") &times;
                                    h4.modal-title Edit Petrol Cost

                                div.modal-body
                                    div.row
                                        div.col-md-3.col-md-offset-1    
                                            label(for="price/km" style="margin-bottom:0") Price/km (R)
                                        div.col-md-7                            
                                            input.form-control#pricekmDialog(style = "font-weight:normal; max-width: 600px; padding-top:0; margin-bottom:15px; height: 28px")

                                div.modal-footer
                                    span.pull-right
                                        button.btn.btn-raised.btn-info#savePetrolCost(type="button" data-dismiss="modal" style="margin:0 15 15 0") Save
                                            script(type="text/javascript").
                                                $( "#savePetrolCost").click(function() {
                                                    var newPriceperkm = $("#pricekmDialog").val();
                                                    $("#pricekm").text(newPriceperkm);
                                                    console.log($("#pricekmDialog").val());
                                                    console.log($("#rideshareNo").val());
                                                    $.post("/editPetrolCost", { rideshareNo: $("#rideshareNo").val() , petrolCost : $("#pricekmDialog").val() }, function (data) {
                                                        console.log("posting to editPetrolCost");
                                                    });
                                                });
                                    span.pull-left
                                        button.btn.btn-raised(type="button"  data-dismiss="modal" style="margin:0 0 15 15") Close

                    div.modal.fade(id="editRouteDialog" role="dialog")
                        div.modal-dialog

                            div.modal-content
                                div.modal-header
                                    button.close(type="button" data-dismiss="modal") &times;
                                    h4.modal-title Edit Pick-up Point

                                div.modal-body
                                    div.row
                                        div.col-md-3.col-md-offset-1    
                                            label(for="pickupPoint" style="margin-bottom:0; margin-top:10px") Pick-up point
                                        div.col-md-7                            
                                            div.dropdown
                                                select.form-control#editPickupPoint(name = "pickupPoint",required) Select pick-up point
                                                    span.caret
                                                    option(disabled, selected) Select pick-up point

                                div.modal-footer
                                    span.pull-right
                                        button.btn.btn-raised.btn-info#savePickupPoint(type="button" data-dismiss="modal" data-toggle="modal" data-target="#routeChangeConfirm" style="margin:0 15 15 0") Save
                                            script(type="text/javascript").
                                                $( "#savePickupPoint").click(function() {
                                                    var e = document.getElementById("editPickupPoint");
                                                    console.log(e);
                                                    var value = e.options[e.selectedIndex];
                                                    console.log(value.getAttribute("data-AreaID"));
                                                    var AreaID = value.getAttribute("data-AreaID");
                                                        $.post("/editRouteMarker", { rideshareNo: $("#rideshareNo").val(), areaID : AreaID }, function (data) {
                                                            console.log("posting");
                                                        });
                                                });
                                        input#rideshareNo(type="hidden")
                                    span.pull-left
                                        button.btn.btn-raised(type="button"  data-dismiss="modal" style="margin:0 0 15 15") Close
                                        
                    div.modal.fade(id="routeChangeConfirm" role="dialog")
                        div.modal-dialog

                            div.modal-content
                                div.modal-header
                                    button.close(type="button" data-dismiss="modal") &times;
                                    h4.modal-title Request to Edit Route

                                div.modal-body
                                    div.row
                                        div.col-md-offset-1    
                                            p A request to edit the route has been sent to the driver for confirmation.
                                                            
                                div.modal-footer
                                    button.btn.btn-raised.btn-default#ok(type="button" data-dismiss="modal" style="margin:0 15 15 0") Ok

                    div.modal.fade(id="joinRideshareDialog" role="dialog")
                        div.modal-dialog

                            div.modal-content
                                div.modal-header
                                    button.close(type="button" data-dismiss="modal") &times;
                                    h4.modal-title Join Rideshare Group

                                div.modal-body
                                    div.row
                                        div.col-md-offset-1    
                                            p A request to join the rideshare group has been sent to the driver for confirmation.
                                                            
                                div.modal-footer
                                    button.btn.btn-default#rideshareOk(type="button" data-dismiss="modal") Ok
                                script(type="text/javascript").
                                    $( "#joinRideshare").click(function() {
                                        $.getJSON( "/getLocations", function(data) {
                                            console.log(data);
                                            AreaID = data.locations[0].AreaID;
                                            $.post("/requesttoJoinRideshare", { rideshareNo: $("#rideshareNo").val(), areaID : AreaID }, function (data) {
                                                console.log("posting to join rideshare group");
                                            });
                                        });
                                        $( "#rideshareOk").click(function() {
                                            $("#joinRideshare").hide();
                                            $("#joinPending").text("Request to join rideshare was sent to driver.");
                                            

                                        });
                                    });
                                    

        div.col-md-7#carIcon(style="vertical-align: middle")
            img.img-responsive.img-circle.center-block(src="/images/ShareCarRide.jpg", alt='Carpool Image')
        