extends layout

block content
    link(rel='stylesheet', type='text/css', href='/stylesheets/addEvent.css')
    script(src = '/javascripts/rideshareGroupSearchBar.js')
    div.row
      form.form-group(action ="", method = "post")
        div.col-md-4.pull-left
          row
            div.col-md-9#searchBarDiv
                input#searchBar.form-control(type="text", name="searchBar", placeholder="Search")

            div.col-md-3.pull-left
                button#filterRideshareGroups.btn.btn-primary(type="button" style="position:relative; left:-10" data-filterType="own") 
                    span Filter All
                p
          div(style = "clear:both")
            .list-group#eventList(style ="max-height: 500px; overflow: auto")

        div.col-md-7#viewRideshareDetails
            input#rideshareNo(type="hidden")
            div.modal-dialog
                div.col-md-3
                div.modal-content(style="overflow:auto")
                    div.modal-header
                        h3.text-center#destinationName Destination Name
                    div.modal-body
                        br
                        div.row
                            div.col-md-3.col-md-offset-2
                                label(for="destination") Destination
                            div.col-md-7
                                label#destination(type="text",style = "font-weight:normal")
                        br
                        div.row
                            div.col-md-3.col-md-offset-2
                                label(for="driver") Driver
                            div.col-md-7
                                label#driver(style = "font-weight:normal") 
                        br
                        div.row
                            div.col-md-3.col-md-offset-2  
                                label(for="passengers") Passengers
                            div.col-md-7
                                label#passengerList(style = "font-weight:normal") 
                        br
                        div.row
                            div.col-md-3.col-md-offset-2    
                                label(for="price/km") Price/km
                            div.col-md-7                            
                                label#pricekm(style = "font-weight:normal")
                    .modal-footer
                        a(href="viewListOfRideshareGroups").pull-left
                            button#cancel.btn.btn-default(type="button" data-dismiss="modal") Cancel
                        a.pull-right
                            button#changePetrolCost.btn.btn-default(type="button", data-toggle="modal", data-target="#changePertolCost") Change Petrol Cost
                        a.pull-right
                            button#requestEditRoute.btn.btn-default(type="button" , data-toggle="modal", data-target="#editRouteDialog") Edit Pick-up Point
                        script(type="text/javascript").
                            $( "#requestEditRoute").click(function() {
                                $.getJSON( "/getLocations", function(data) {
                                    $.post("/getRoutemarker", { rideshareNo: $("#rideshareNo").val() }, function(json){
                                        console.log(json);
                                        areaID = json.marker[0].AreaID;
                                        $('#editPickupPoint').empty();
                                        console.log(data);
                                        $.each(data.locations, function (key, val) {
                                            if ( val.AreaID != areaID ) {
                                                var item2 = $("<option/>", {
                                                    "class": "my-new-list",
                                                    "data-AreaID": val.AreaID,
                                                    html: val.Nickname
                                                });
                                                item2.appendTo('#editPickupPoint');
                                            }
                                        });
                                    })
                                });
                            });
                    
                    div.modal.fade(id="changePertolCost" role="dialog")
                        div.modal-dialog

                            div.modal-content
                                div.modal-header
                                    button.close(type="button" data-dismiss="modal") &times;
                                    h4.modal-title Edit Petrol Cost

                                div.modal-body
                                    div.row
                                        div.col-md-3.col-md-offset-1    
                                            label(for="price/km") Price/km
                                        div.col-md-7                            
                                            input.form-control#pricekmDialog(style = "font-weight:normal")

                                div.modal-footer
                                    button.btn.btn-default#savePetrolCost(type="button" data-dismiss="modal" ) Save
                                        script(type="text/javascript").
                                            $( "#savePetrolCost").click(function() {
                                                var newPriceperkm = $("#pricekmDialog").val();
                                                $("#pricekm").text(newPriceperkm);
                                                console.log($("#pricekmDialog").val());
                                                console.log($("#rideshareNo").val());
                                                $.post("/editPetrolCost", { rideshareNo: $("#rideshareNo").val() , petrolCost : $("#pricekmDialog").val() }, function (data) {
                                                    console.log("posting to editPetrolCost");
                                                });
                                            });
                                    button.btn.btn-default(type="button"  data-dismiss="modal") Close

                    div.modal.fade(id="editRouteDialog" role="dialog")
                        div.modal-dialog

                            div.modal-content
                                div.modal-header
                                    button.close(type="button" data-dismiss="modal") &times;
                                    h4.modal-title Edit Pick-up Point

                                div.modal-body
                                    div.row
                                        div.col-md-3.col-md-offset-1    
                                            label(for="pickupPoint") Pick-up point
                                        div.col-md-7                            
                                            div.dropdown
                                                select.form-control#editPickupPoint(name = "pickupPoint",required) Select pick-up point
                                                    span.caret
                                                    option(disabled, selected) Select pick-up point

                                div.modal-footer
                                    button.btn.btn-default#savePickupPoint(type="button" data-dismiss="modal" data-toggle="modal" data-target="#routeChangeConfirm") Save
                                        script(type="text/javascript").
                                            $( "#savePickupPoint").click(function() {
                                                var e = document.getElementById("editPickupPoint");
                                                console.log(e);
                                                var value = e.options[e.selectedIndex];
                                                console.log(value.getAttribute("data-AreaID"));
                                                var AreaID = value.getAttribute("data-AreaID");
                                                    $.post("/editRouteMarker", { rideshareNo: $("#rideshareNo").val(), areaID : AreaID }, function (data) {
                                                        console.log("posting");
                                                    });
                                            });
                                    input#rideshareNo(type="hidden")
                                    button.btn.btn-default(type="button"  data-dismiss="modal") Close

                    div.modal.fade(id="routeChangeConfirm" role="dialog")
                        div.modal-dialog

                            div.modal-content
                                div.modal-header
                                    button.close(type="button" data-dismiss="modal") &times;
                                    h4.modal-title Request to Edit Route

                                div.modal-body
                                    div.row
                                        div.col-md-offset-1    
                                            p A request to edit the route has been sent to the driver for confirmation.
                                                            
                                div.modal-footer
                                    button.btn.btn-default#ok(type="button" data-dismiss="modal") Ok


      div.col-md-8#carIcon(style="vertical-align: middle")
        img.img-responsive.img-circle.center-block(src='https://lh6.ggpht.com/TzMkdj8C6dTcg_kDRxxGRBC3pM-UDiNL3t6VKNoMSumbhUeqZzs5PT3UfgkbJpORSV4=w300', alt='Carpool Image')
      

        