extends layout

block content
    div.modal-dialog
        
        div.col-md-6
        div.modal-content
            div.modal-header
                h3.text-center
                    label View Calender
                
            div.modal-body